<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/security
						   http://www.springframework.org/schema/security/spring-security.xsd">
	<security:method-security secured-enabled="true" />

	<security:http disable-url-rewriting="true">
		<security:intercept-url pattern="/login" access="permitAll" />
		<security:intercept-url pattern="/master/users" access="hasAuthority('ADMIN')" />
		<security:intercept-url pattern="/master/employee" access="hasAnyAuthority('ADMIN','USER')" />
		<security:intercept-url pattern="/**" access="hasAnyAuthority('ADMIN','USER')" />
		<security:form-login login-page="/login" default-target-url="/" />
		<security:logout invalidate-session="true" logout-success-url="/logout" delete-cookies="true" />
	</security:http>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder hash="bcrypt" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
